*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.row:before, .row:after{
  content: "";
  display: table;
  clear: both;
}

[class*="col-"]{
  float: left;
  min-height: 7px;
  /*gutters*/
  padding: 12px;
}

/*(100/12)*num-col*/

.col-1{width: 8.333333%;}
.col-2{width: 16.666667%;}
.col-3{width: 25%;}
.col-4{width: 33.333333%;}
.col-5{width: 41.666667%;}
.col-6{width: 50%;}
.col-7{width: 58.333333%;}
.col-8{width: 66.666667%;}
.col-9{width: 75%;}
.col-10{width: 83.333333%;}
.col-11{width: 91.666667%;}
.col-12{width: 100%;}

img {
  width: 100%;
}

@media all and (max-width: 450px){
  [class*="col-"]{
    width: 100%;
  }
}

.cat{
	margin-top: 40%;
}

/* primer gato - atardecer*/
@media (min-width: 576px) and (max-width: 767px) {
  body {
    background-image: url(../images/dawn.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .secondCat{
  	display:none;
  }

  .thirdCat{
  	display: none;
  }
}

/*segundo gato - noche*/

@media (min-width: 768px) and (max-width: 991px) {
  body {
    background-image:url(../images/night.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .firstCat{
  	display: none;
  }

	.thirdCat{
		display: none;
	}
}

/*tercer gato - dia*/

@media (min-width: 992px) and (max-width: 1199px) {
  body {
    background-image: url(../images/sunny-day.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .firstCat{
  	display: none;
  }

	.secondCat{
		display: none;
	}
}
